/TddFromTheScratchWeb/.vscode/
/TddFromTheScratchWeb/packages/
/TddFromTheScratchWeb/TddFromTheScratch.UnitTests/bin/
/TddFromTheScratchWeb/TddFromTheScratchWeb.UnitTests/bin/
/TddFromTheScratchWeb/TddFromTheScratchWeb.UnitTests/obj/
/TddFromTheScratchWeb/TddFromTheScratch.UnitTests/obj/
/TddFromTheScratchWeb/TddFromTheScratchWeb.UnitTests/bin/
/TddFromTheScratchWeb/TddFromTheScratchWeb.UnitTests/obj/
/TddFromTheScratchWeb/.vs/config/applicationhost.config
/TddFromTheScratchWeb/.vs/TddFromTheScratchWeb/v15/.suo
/TddFromTheScratchWeb/.vs/TddFromTheScratchWeb/v15/Server/sqlite3/db.lock
/TddFromTheScratchWeb/.vs/TddFromTheScratchWeb/v15/Server/sqlite3/storage.ide
/TddFromTheScratchWeb/.vs/TddFromTheScratchWeb/v15/Server/sqlite3/storage.ide-shm
/TddFromTheScratchWeb/.vs/TddFromTheScratchWeb/v15/Server/sqlite3/storage.ide-wal
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/Microsoft.AspNetCore.Http.Features.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/Microsoft.AspNetCore.Http.Features.xml
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Data.Common.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Diagnostics.StackTrace.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Diagnostics.Tracing.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Globalization.Extensions.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.IO.Compression.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Net.Http.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Net.Sockets.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Runtime.Serialization.Primitives.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Security.Cryptography.Algorithms.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Security.SecureString.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Threading.Overlapped.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/System.Xml.XPath.XDocument.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/TddFromTheScratch.Business.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/bin/Debug/TddFromTheScratch.Business.pdb
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.csproj.CopyComplete
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.csproj.CoreCompileInputs.cache
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.csproj.FileListAbsolute.txt
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.csprojResolveAssemblyReference.cache
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.dll
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TddFromTheScratch.Business.pdb
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TddFromTheScratchWeb/TddFromTheScratch.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratch.Business.dll
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratch.Business.pdb
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchConsole.deps.json
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchConsole.dll
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchConsole.pdb
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchConsole.runtimeconfig.dev.json
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchConsole.runtimeconfig.json
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.dll
/TddFromTheScratchWeb/TddFromTheScratchConsole/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.pdb
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.AssemblyInfo.cs
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.AssemblyInfoInputs.cache
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.csproj.CopyComplete
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.csproj.CoreCompileInputs.cache
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.csproj.FileListAbsolute.txt
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.csprojResolveAssemblyReference.cache
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.dll
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/Debug/netcoreapp2.0/TddFromTheScratchConsole.pdb
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/project.assets.json
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/TddFromTheScratchConsole.csproj.nuget.cache
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/TddFromTheScratchConsole.csproj.nuget.g.props
/TddFromTheScratchWeb/TddFromTheScratchConsole/obj/TddFromTheScratchConsole.csproj.nuget.g.targets
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratch.Business.dll
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratch.Business.pdb
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.deps.json
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.dll
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.pdb
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.runtimeconfig.dev.json
/TddFromTheScratchWeb/TddFromTheScratchWeb/bin/Debug/netcoreapp2.0/TddFromTheScratchWeb.runtimeconfig.json
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.AssemblyInfo.cs
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.AssemblyInfoInputs.cache
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.csproj.CopyComplete
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.csproj.CoreCompileInputs.cache
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.csproj.FileListAbsolute.txt
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.csprojResolveAssemblyReference.cache
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.dll
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/Debug/netcoreapp2.0/TddFromTheScratchWeb.pdb
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/project.assets.json
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/TddFromTheScratchWeb.csproj.nuget.cache
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/TddFromTheScratchWeb.csproj.nuget.g.props
/TddFromTheScratchWeb/TddFromTheScratchWeb/obj/TddFromTheScratchWeb.csproj.nuget.g.targets
